/* * {
    outline: 1px black solid;
} */

body {
    background-color: #8338EC; 
    /* opacity: .8; */
}

h1 {
    background-color: #FF006E;
    /* outline: 3px black solid; */
    border: 3px black solid;
    border-radius: 10px;
    /* max-width: 100%; still figuring this one out */
    font-family: "Fantasy", "Arial";
    font-stretch: ultra-expanded;
    font-size: 450%;
}

/* .nobullets {
    list-style-type: none;
}

ul {
    position: sticky;
    top: 0;
}

li {
    display: inline;
    /* float: left; */
/* } */

h2 {
    margin: auto;
    background-color: #FB5607;
    /* outline: 3px black solid; */
    border: 3px black solid;
    border-radius: 10px;
    font-family: "Arial", "Courier New";
    font-size: 250%;
}

p {
    background-color: #3A86FF;
    padding: 20px;
    text-emphasis: italic;
    border: 3px black solid;
    border-radius: 10px;
    text-align: center;
    font-family: "Arial", "Courier New";
    font-size: 150%;
}

/* .background-bday {
    background-color: #FFBE0B;
} */

/* img {
    /* padding: 50px; */
 /*   opacity: 1.0; /* makes image 100% until you hover */
/* } */

/* img:hover {
    opacity: 0.5; /* makes image 50% when hovering */
/* } */

section {
    margin: auto;
}

/* .responsive {
    width: 30%;
    height: auto;
} */

footer {
    background-color: #FFBE0B;
    border: 3px black solid;
    border-radius: 10px;
}
